* {
    margin: 0;
    padding: 0;
}

#canvas1 {
    /* background: blue; */
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}

img {
    display: none;
}

button {
    display: none;
    padding: 10px;
    font-size: 30px;
    margin: 20px;
    font-family: 'Bangers', system-ui;
    color: white;
    background-color: black;
    transition: 0.2s;
}

button:hover {
    color: black;
    background-color: white;
}